span {
    display: none;
    text-align: center;
    font-family:Quicksand;
    width:fit-content;
}
.caption:hover + span {
    display: block;
}

a:visited {color:#015900;}
a:hover {color:#ffbe82;} 